apiVersion: v1
kind: Service
metadata:
  name: rating-producer-service
  namespace: default
  labels:
    app: web
spec:
  type: LoadBalancer
  ports:
    - nodePort: 30171 # - a static port assigned on each the node
      port: 9000 # - port exposed internally in the cluster
      targetPort: 9000 # - the container port to send requests to
  selector:
    app.kubernetes.io/name: rating-producer